Django>=4.2,<5.0
django-celery-beat>=2.5
gunicorn
dj-database-url
python-dotenv
djangorestframework
django-cors-headers
django-redis>=5.0.0
openai>=1.0
tiktoken>=0.5.1
spacy>=3.7.2
langdetect>=1.0.9
html2text>=2020.1.16
psycopg2-binary>=2.9
scikit-learn>=1.4.2
numpy>=1.24
scipy>=1.10
celery>=5.3
redis>=5.0
reportlab>=4.0
ipython>=8.0
google-cloud-storage
hdbscan>=0.8.33  
umap-learn>=0.5
beautifulsoup4>=4.12
